@import "tailwindcss";

@theme {
  --color-lightBlue: #0037c1;
  --color-lightGray: #2a2a2a;
  --color-darkGray: #121212;
  --color-secondaryDarkGray: #1c1c1c;
  --color-secondaryLightBlue: #80a4ff;
}
